asgiref==3.11.1
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1

numpy==1.26.4
opencv-python==4.10.0.84
pillow==10.4.0

torch==2.2.2
torchvision==0.17.2

sqlparse==0.5.5
tzdata==2026.2
gunicorn==23.0.0